<div class="header-main">
  <div class="header-left">
    <a href="javascript:" class="logo">
      <img src="assets/img/logo.png" width="40" height="40" alt="">
    </a>
  </div>
  <div class="page-title-box pull-left">
    <h3>Focus Technologies</h3>
  </div>
  <ul class="nav navbar-nav navbar-right user-menu pull-right">
    <li>
      <a routerLink="../../pages/login">Login</a>
    </li>
    <li>
      <a routerLink="../../pages/register">Register</a>
    </li>
  </ul>
</div>
<div class="page-wrapper job-wrapper">
<div class="content container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4 class="page-title">Apply Job</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form>
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" type="text">
        </div>
        <div class="form-group">
          <label>Email Address</label>
          <input class="form-control" type="text">
        </div>
        <div class="form-group">
          <label>Message</label>
          <textarea class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label>Upload your CV</label>
          <input type="file" class="form-control">
        </div>

        <div class="m-t-20 text-center">
          <button class="btn btn-primary btn-lg">Send Application</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>