
/* scrollbar for messages */

.list-box li{
    padding-right: 12px;
}

.drop-scroll{
  overflow-y: scroll;
}

.drop-scroll::-webkit-scrollbar {
  width: .4em; 
}

.drop-scroll::-webkit-scrollbar,
.drop-scroll::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}

.drop-scroll::-webkit-scrollbar-thumb {
  background:#c4b5b5; 
}

.dsply-none{
  display:none;
}