<div class="content container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form #addForm="ngForm" (ngSubmit)="updateCompany(addForm)">
        <h3 class="page-title">Company Details</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Company Name <span class="text-danger">*</span></label>
              <input class="form-control" type="text" [(ngModel)]="uptC.company_name" name="company_name" #company_name="ngModel">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Contact Person</label>
              <input class="form-control" type="text" [(ngModel)]="uptC.contact_person" name="contact_person"
                #contact_person="ngModel">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Address</label>
              <input class="form-control " type="text" [(ngModel)]="uptC.address" name="address" #address="ngModel">
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="form-group">
              <label>Country</label>
              <select class="form-control select" [(ngModel)]="uptC.country" name="country" #country="ngModel">
                <option value="USA">USA</option>
                <option value="UK">United Kingdom</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="form-group">
              <label>City</label>
              <input class="form-control" type="text" [(ngModel)]="uptC.city" name="city" #city="ngModel">
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="form-group">
              <label>State/Province</label>
              <select class="form-control select" [(ngModel)]="uptC.state" name="state" #state="ngModel">
                <option value="California">California</option>
                <option value="Alaska">Alaska</option>
                <option value="Alabama">Alabama</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="form-group">
              <label>Postal Code</label>
              <input class="form-control" type="text" [(ngModel)]="uptC.postal_code" name="postal_code" #postal_code="ngModel">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Email</label>
              <input class="form-control" type="email" [(ngModel)]="uptC.email" name="email" #email="ngModel">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Phone Number</label>
              <input class="form-control" type="text" [(ngModel)]="uptC.phone_number" name="phone_number" #phone_number="ngModel">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Mobile Number</label>
              <input class="form-control" type="text" [(ngModel)]="uptC.mobile_number" name="mobile_number"
                #mobile_number="ngModel">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Fax</label>
              <input class="form-control" type="text" [(ngModel)]="uptC.fax" name="fax" #fax="ngModel">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Website Url</label>
              <input class="form-control" type="text" [(ngModel)]="uptC.url" name="url" #url="ngModel">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">

              <div *ngIf="uptCompany" class="alert alert-info m-t-10" style="text-align: center;">
                  <strong class="text-center">Saved Successfully</strong>
              </div>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center m-t-20">
            <button type="submit" class="btn btn-primary">Save &amp; update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>