
<div class="content container-fluid">
  <div class="row">
    <div class="col-xs-4">
      <h4 class="page-title">Employee</h4>
    </div>
    <div class="col-xs-8 text-right m-b-30">
      <a href="javascript:" class="btn btn-primary pull-right rounded" (click)="addReset()"><i class="fa fa-plus"></i>
        Add Employee</a>
      <div class="view-icons">
        <a class="grid-view btn btn-link" [ngClass]="{active:!allEmployees}" (click)="allEmployees=false"><i class="fa fa-th"></i></a>
        <a class="list-view btn btn-link" [ngClass]="{active:allEmployees}" (click)="allEmployees=true"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>
  <div class="row filter-row">
    <div class="col-sm-3 col-xs-6">
      <div class="form-group form-focus">
        <label class="control-label">Employee ID</label>
        <input type="text" class="form-control floating" (input)="searchID($event.target.value)"/>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="form-group form-focus">
        <label class="control-label">Employee Name</label>
        <input type="text" class="form-control floating" (input)="searchName($event.target.value)"/>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="form-group form-focus select-focus">
        <label class="control-label">Designation</label>
        <select class="select floating select-designation" (input)="searchDesg($event.target.value)">
          <option value="">All Designations</option>
          <option value="Web Developer">Web Developer</option>
          <option value="Web Designer">Web Designer</option>
          <option value="Android Developer">Android Developer</option>
          <option value="Ios Developer">Ios Developer</option>
        </select>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <a href="javascript:" class="btn btn-success btn-block"> Search </a>
    </div>
  </div>
  <div class="row" *ngIf="allEmployees">
    <div class="col-md-12">
      <div class="table-responsive table-responsive-inherit">
      <table class="table table-striped custom-table" [mfData]="rows" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
          <tr>
            <th style="width: 40%">
              <mfDefaultSorter by="firstName">Name</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="employeeID">Employee ID</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="mobile">Mobile</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="joinDate">Join Date</mfDefaultSorter>
            </th>
            <th style="width: 10%" class="text-center">
              <mfDefaultSorter by="designation">Designation</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="joinDate">Actions</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td><a href="javascript:" class="avatar">{{item.firstName.split('')[0]}}</a>
              <h2><a href="javascript:">{{item.firstName}} {{item.lastName}}<span>{{item.designation}}</span></a></h2>
            </td>
            <td>FT-00{{item.employeeID}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.joinDate.formatted}}</td>
            <td class="text-center">
              <div class="dropdown">
                <a class="btn btn-white btn-sm rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                {{item.designation}} <i class="caret"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:">Software Engineer</a></li>
                  <li><a href="javascript:">Software Tester</a></li>
                  <li><a href="javascript:">Frontend Developer</a></li>
                  <li><a href="javascript:">UI/UX Developer</a></li>
                </ul>
              </div>
            </td>
            <td class="text-right">
              <div class="dropdown">
                <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="javascript:" data-toggle="modal" data-target="#edit_employee" (click)="onEdit(item)"><i class="fa fa-pencil m-r-5"></i>
                      Edit</a></li>
                  <li><a (click)="onDelete(item.employeeID)"><i class="fa fa-trash-o m-r-5"></i>
                      Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12">
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
</div>
    </div>
  </div>
  <div class="row staff-grid-row" *ngIf="!allEmployees">
    <div class="col-md-4 col-sm-4 col-xs-6 col-lg-3" *ngFor="let item of rows">
      <div class="profile-widget">
        <div class="profile-img">
          <a href="javascript:"><img class="avatar" src="assets/img/user.jpg" alt=""></a>
        </div>
        <div class="dropdown profile-action">
          <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
          <ul class="dropdown-menu pull-right">
            <li><a href="javascript:" data-toggle="modal" data-target="#edit_employee"  (click)="onEdit(item)"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
            <li><a (click)="onDelete(item.id)"><i class="fa fa-trash-o m-r-5"></i>
                Delete</a></li>
          </ul>
        </div>
        <h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="javascript:">{{item.firstName}} {{item.lastName}}</a></h4>
        <div class="small text-muted">{{item.designation}}</div>
      </div>
    </div>
  </div>
</div>

<div id="add_employee" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 class="modal-title">Add Employee</h4>
      </div>
      <div class="modal-body">
        <form class="m-b-30" #addForm="ngForm" (ngSubmit)="addSubmit(addForm)" novalidate>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">First Name <span class="text-danger m-l-5">*</span></label>
                <input class="form-control" type="text" [(ngModel)]="addEmp.firstName" name="firstName" #firstName="ngModel" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Last Name</label>
                <input class="form-control" type="text" [(ngModel)]="addEmp.lastName" name="lastName" #lastName="ngModel">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Username <span class="text-danger m-l-5">*</span></label>
                <input class="form-control" type="text" [(ngModel)]="addEmp.userName" name="userName" #userName="ngModel" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
                <label class="control-label">Email <span class="text-danger m-l-5">*</span></label>
                <input class="form-control" type="email" [(ngModel)]="addEmp.email" name="email" #email="ngModel" pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})" required>
                <span class="help-block" *ngIf="email.errors && email.touched">
                  Email is invalid
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Password<span class="text-danger m-l-5">*</span></label>
                <input class="form-control" type="password" [(ngModel)]="addEmp.password" name="password" #password="ngModel" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Confirm Password<span class="text-danger m-l-5">*</span></label>
                <input class="form-control" type="password" [(ngModel)]="addEmp.cPassword" name="cPassword" #cPassword="ngModel" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Employee ID <span class="text-danger m-l-5">*</span></label>
                <input type="text" class="form-control" readonly [(ngModel)]="addEmp.employeeID" name="employeeID" #employeeID="ngModel" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Joining Date <span class="text-danger m-l-5">*</span></label>
                <my-date-picker name="joinDate" [options]="myDatePickerOptions" [(ngModel)]="addEmp.joinDate" #joinDate="ngModel" required></my-date-picker>
              </div>
            </div>
           
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Company</label>
                <select class="select form-control" [(ngModel)]="addEmp.company" name="company" #company="ngModel">
                  <option value="Global Technologies">Global Technologies</option>
                  <option value="Delta Infotech">Delta Infotech</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Designation<span class="text-danger m-l-5">*</span></label>
                <select class="select form-control" [(ngModel)]="addEmp.designation" name="designation" #designation="ngModel" required>
                  <option value="Web Developer">Web Developer</option>
                  <option value="Web Designer">Web Designer</option>
                  <option value="SEO Analyst">SEO Analyst</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" [class.has-error]="phone.invalid && phone.touched" [class.has-success]="phone.valid">
                <label class="control-label">Phone<span class="text-danger m-l-5">*</span></label>
                <input class="form-control" type="text" [(ngModel)]="addEmp.phone" name="phone" #phone="ngModel" pattern="(\d{10}|\d{12})" required>
                <span class="help-block" *ngIf="phone.errors && phone.touched">
                  Phone Number is invalid
                </span>
              </div>
            </div>
          </div>
          <div class="table-responsive m-t-15">
            <table class="table table-striped custom-table">
              <thead>
                <tr>
                  <th>Module Permission</th>
                  <th class="text-center">Read</th>
                  <th class="text-center">Write</th>
                  <th class="text-center">Create</th>
                  <th class="text-center">Delete</th>
                  <th class="text-center">Import</th>
                  <th class="text-center">Export</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of modules">
                  <td>{{item.module}}</td>
                  <td class="text-center">
                    <input [attr.checked]="item.read ? 'checked' : null" type="checkbox">
                  </td>
                  <td class="text-center">
                    <input [attr.checked]="item.write ? 'checked' : null" type="checkbox">
                  </td>
                  <td class="text-center">
                    <input [attr.checked]="item.create ? 'checked' : null" type="checkbox">
                  </td>
                  <td class="text-center">
                    <input [attr.checked]="item.delete ? 'checked' : null" type="checkbox">
                  </td>
                  <td class="text-center">
                    <input [attr.checked]="item.import ? 'checked' : null" type="checkbox">
                  </td>
                  <td class="text-center">
                    <input [attr.checked]="item.export ? 'checked' : null" type="checkbox">
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="m-t-20 text-center">
              <div *ngIf="addEmployeeValidation" class="alert alert-info m-t-10">
                  <strong>Warning!</strong> Must Fill all Mandatory Fields.
              </div>
            <button class="btn btn-primary">Create Employee</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div id="delete_employee" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-md">
      <div class="modal-header">
        <h4 class="modal-title">Delete Employee</h4>
      </div>
      <form>
        <div class="modal-body card-box">
          <p>Are you sure want to delete this?</p>
          <div class="m-t-20"> <a href="javascript:" class="btn btn-default" data-dismiss="modal">Close</a>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

