<div class="page-wrapper">
<div class="content container-fluid">
    <!-- <div class="row">
        <div class="col-sm-12" style="float: none;text-align: center; ">
            <h4 class="page-title">Face Mask Detection</h4>
        </div>
    </div> -->
   
    <div class="row">
        
             <div class="col-lg-12 col-sm-12"  style="float: none;text-align: center; ">
                <div class="card-box">
                <img *ngIf="!isMaskWeared" src="assets/img/1.jpg" style="align-items: center;" height="500px" width="500px" style="border-radius: 350px;"/>
                <img *ngIf="isMaskWeared" src="assets/img/thumbs_up.png" eight="500px" width="500px" style="border-radius: 200px;" />
              </div>
           
        </div>

        
            
       
    </div>
</div>


</div>