<div class="content container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form>
        <h3 class="page-title">Salary Settings</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>DA (%)</label>
              <input type="text" value="" class="form-control">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>HRA (%)</label>
              <input class="form-control" value="" type="text">
            </div>
          </div>
        </div>
        <h3 class="page-sub-title">Provident Fund Settings</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Employee Share (%)</label>
              <input class="form-control" value="" type="text">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Organization Share (%)</label>
              <input class="form-control" value="" type="text">
            </div>
          </div>
        </div>
        <h3 class="page-sub-title">ESI Settings</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Employee Share (%)</label>
              <input class="form-control" value="" type="text">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Organization Share (%)</label>
              <input class="form-control" value="" type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center m-t-20">
              <button type="button" class="btn btn-primary">Save &amp; update</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>