<div class="content container-fluid">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h4 class="modal-title">Edit Tax</h4>
    </div>
  </div>
  <form #uptForm="ngForm" (submit)="updateTax(uptForm)">
    <div class="row m-t-20">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Tax Name <span class="text-danger">*</span></label>
          <input class="form-control" required type="text" [(ngModel)]="uptT.tax_name" name="tax_name">
          <input class="form-control" type="hidden" [(ngModel)]="uptT.tax_id" name="tax_id">
        </div>
      
        <div class="form-group">
          <label>Tax Percentage (%) <span class="text-danger">*</span></label>
          <input class="form-control unit-cost" required type="text" min=0 [(ngModel)]="uptT.tax_percentage" name="tax_percentage">
        </div>
        <div class="form-group">
          <label>Status <span class="text-danger">*</span></label>
          <select class="select form-control" [(ngModel)]="uptT.status" name="status">
            <option class="Active">Active</option>
            <option class="Inactive">Inactive</option>
          </select>
        </div>
      <div class="m-t-20 text-center">
        <div *ngIf="uptTaxValidation" class="alert alert-info m-t-10">
          <strong>Warning!</strong> Must Fill all Mandatory Fields.
        </div>
        <button class="btn btn-success" type="submit">Save Changes</button>
      </div>
    </div>
    </div>

  </form>
</div>